In [21]:
import pandas as pd
import glob
import os
from datetime import datetime

In [24]:
path = './yelp_data_by_city/'
all_files = glob.glob(path + "/*.csv")
yelp_data_city_csv_list = os.listdir(path)
print(all_files)

['./yelp_data_by_city\\Austin_yelp_data.csv', './yelp_data_by_city\\Charlotte_yelp_data.csv', './yelp_data_by_city\\Chicago_yelp_data.csv', './yelp_data_by_city\\Columbus_yelp_data.csv', './yelp_data_by_city\\Dallas_yelp_data.csv', './yelp_data_by_city\\Denver_yelp_data.csv', './yelp_data_by_city\\Fort Worth_yelp_data.csv', './yelp_data_by_city\\Houston_yelp_data.csv', './yelp_data_by_city\\Indianapolis_yelp_data.csv', './yelp_data_by_city\\Jacksonville_yelp_data.csv', './yelp_data_by_city\\Los Angeles_yelp_data.csv', './yelp_data_by_city\\New York City_yelp_data.csv', './yelp_data_by_city\\Philadelphia_yelp_data.csv', './yelp_data_by_city\\Phoenix_yelp_data.csv', './yelp_data_by_city\\San Antonio_yelp_data.csv', './yelp_data_by_city\\San Diego_yelp_data.csv', './yelp_data_by_city\\San Francisco_yelp_data.csv', './yelp_data_by_city\\San Jose_yelp_data.csv', './yelp_data_by_city\\seattle_yelp_data.csv']

In [25]:
city_names = []
for i in range(len(yelp_data_city_csv_list)):
    city_name = yelp_data_city_csv_list[i].split('_')[0]
    city_names.append(city_name)
print(city_names)

['Austin', 'Charlotte', 'Chicago', 'Columbus', 'Dallas', 'Denver', 'Fort Worth', 'Houston', 'Indianapolis', 'Jacksonville', 'Los Angeles', 'New York City', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'San Francisco', 'San Jose', 'seattle']

In [27]:
li = []

for filename, city_name in zip(all_files, city_names):
    df = pd.read_csv(filename, index_col=None, header=0)
    df['city'] = city_name
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [35]:
frame.isna().sum()

id                   0
alias                0
name                 0
image_url         2227
is_closed            0
url                  0
review_count         0
categories           0
rating               0
coordinates          0
transactions         0
location             0
phone             3913
display_phone     3913
distance             0
price            14543
longitude         3062
latitude          3062
zip_code          3124
city                 0
dtype: int64

In [36]:
frame_cleaned = frame.dropna(subset=['zip_code','longitude','latitude'])

In [37]:
frame_cleaned.isna().sum()

id                   0
alias                0
name                 0
image_url         2090
is_closed            0
url                  0
review_count         0
categories           0
rating               0
coordinates          0
transactions         0
location             0
phone             3702
display_phone     3702
distance             0
price            13665
longitude            0
latitude             0
zip_code             0
city                 0
dtype: int64

In [40]:
frame_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57476 entries, 0 to 60602
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             57476 non-null  object
 1   alias          57476 non-null  object
 2   name           57476 non-null  object
 3   image_url      55386 non-null  object
 4   is_closed      57476 non-null  bool
 5   url            57476 non-null  object
 6   review_count   57476 non-null  int64
 7   categories     57476 non-null  object
 8   rating         57476 non-null  float64
 9   coordinates    57476 non-null  object
 10  transactions   57476 non-null  object
 11  location       57476 non-null  object
 12  phone          53774 non-null  float64
 13  display_phone  53774 non-null  object
 14  distance       57476 non-null  float64
 15  price          43811 non-null  object
 16  longitude      57476 non-null  float64
 17  latitude       57476 non-null  float64
 18  zip_code       57476 non-null  object
 19  city           57476 non-null  object
dtypes: bool(1), float64(5), int64(1), object(13)
memory usage: 6.0+ MB

In [43]:
frame_cleaned.groupby(['city']).size()

city
Austin           2500
Charlotte        1329
Chicago          5954
Columbus         2017
Dallas           3026
Denver           3030
Fort Worth       1861
Indianapolis     1466
Jacksonville     1398
Los Angeles      8319
New York City    2554
Philadelphia     4604
Phoenix          2192
San Antonio      2433
San Diego        3601
San Francisco    4459
San Jose         3410
seattle          3323
dtype: int64

In [45]:
frame_cleaned.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,longitude,latitude,zip_code,city
0,kMTboaAOcrPGOtmF5TMstw,nooris-grill-austin-3,Noori's Grill,https://s3-media1.fl.yelpcdn.com/bphoto/LS8f7P...,False,https://www.yelp.com/biz/nooris-grill-austin-3...,31,"[{'alias': 'mediterranean', 'title': 'Mediterr...",4.5,"{'latitude': 30.357011, 'longitude': -97.735214}",['delivery'],"{'address1': '2525 W Anderson Ln', 'address2':...",1.512346e+10,(512) 346-3636,6157.307992,NaN,-97.735214,30.357011,78757,Austin
1,re6LEj9qhgQIS1QLQbx2Ng,wasota-vegan-paradise-austin,Wasota Vegan Paradise,https://s3-media1.fl.yelpcdn.com/bphoto/eCUh2R...,False,https://www.yelp.com/biz/wasota-vegan-paradise...,68,"[{'alias': 'vegetarian', 'title': 'Vegetarian'...",4.5,"{'latitude': 30.315263, 'longitude': -97.716622}","['pickup', 'delivery']","{'address1': '701 East 53rd St', 'address2': '...",1.512565e+10,(512) 565-3864,4100.352701,$,-97.716622,30.315263,78751,Austin

In [51]:
from datetime import datetime

In [57]:
today = datetime.today().strftime('%Y-%m-%d')
frame_cleaned.to_csv(f'yelp_data_us_top20_cities_updated_{today}.csv',index=False)