In [1]:
import json
import requests
import pandas as pd
import re
import math

In [4]:
api_key = 'QvkORZTgzyx1-ZtFlig2u6fyqQpbGVnNMGz2kSGtAqzml3QViP4lpQcZinGG0ahJXkpoUZzjjKgIfSDSRWL_ejcx1tB2h_CrWqMLFYRtKryNvWiCjENE4YmP9jFqYHYx'

# verifies connection to yelp db using initial call

In [5]:
top_cities = ["New York City", 
              "Los Angeles",
              "Chicago",
              "Houston",
              "Phoenix",
              "Philadelphia",
              "San Antonio",
              "San Diego",
              "Dallas",
              "Austin",
              "San Jose",
              "Fort Worth",
              "Jacksonville",
              "Columbus",
              "Charlotte",
              "Indianapolis",
              "San Francisco",
              "Seattle",
              "Denver",
              "Washington"]

In [200]:
#city_name = 'Fort Worth'

#city_name = 'Jacksonville'

#city_name = 'Columbus'

#city_name = 'Charlotte'

#city_name = 'Indianapolis'

#city_name = 'San Francisco'

#city_name = 'Denver'

#city_name = 'Washington'

#city_name = 'Chicago'

#city_name = 'Austin'

city_name = 'New York City'

In [201]:
headers = {'Authorization': 'Bearer %s' % api_key}
url = 'https://api.yelp.com/v3/businesses/search'

params = {'location':city_name, 
          'offset':500, 
          'limit':50, 
          'categories':'restaurants'}
req = requests.get(url, params=params, headers=headers)
print('The status code is {}'.format(req.status_code))
city_businesses = json.loads(req.text)
print(f'{city_name}, {city_businesses["total"]}')

The status code is 200
New York City, 18800

## total businesses returned, can only take first 1k

In [202]:
city_businesses = json.loads(req.text)
city_businesses['total']

18800

# Previous code to find out which restaurant types exist in seattle

In [203]:
yelp_types = pd.read_csv('yelp_restaurant_types.csv', header=None)

In [204]:
total_bus = []
for rtype in yelp_types[0]:
    params = {'location': city_name, 
              'offset':0, 
              'limit':50, 
              'categories':rtype}
    req = requests.get(url, params=params, headers=headers)
    api_results = json.loads(req.text)   
    total_bus.append(api_results['total'])

In [205]:
api_results

{'businesses': [],
 'total': 0,
 'region': {'center': {'longitude': -73.99429321289062,
   'latitude': 40.70544486444615}}}

In [206]:
found_bus_types = pd.DataFrame(zip(yelp_types[0].values, total_bus))
found_bus_types

                0     1
0         afghani    19
1         african    49
2      senegalese     8
3    southafrican     1
4     newamerican  1100
..            ...   ...
307    vietnamese   136
308       waffles    39
309           wok     0
310         wraps    82
311      yugoslav     0

[312 rows x 2 columns]

In [207]:
found_bus_types[found_bus_types[1] == found_bus_types[1].max()]

              0     1
239       pizza  1800
262  sandwiches  1800

In [208]:
found_bus_types[1].sum()

30731

# Loading previously queried restaurant types in seattle

In [209]:
all_types = pd.read_csv(r'yelp_restaurant_types.csv', header=None)
all_types = all_types[0]
# type_exists = found_bus_types[found_bus_types[1] != 0][0]

## Looping through every restaurant type

In [210]:
valid_rest = found_bus_types[found_bus_types[1] != 0]

In [211]:
city_name

'New York City'

In [212]:
rest_results = []
for rtype in valid_rest[0]:
    num_rests = valid_rest[valid_rest[0] == rtype][1].values[0]
    loops = math.ceil(num_rests/50)
    print(rtype, num_rests, loops)
    
    for n in range(loops):
        try:
            params = {'location':city_name, 
                      'offset':50*n, 
                      'limit':50, 
                      'categories': rtype}
            req = requests.get(url, params=params, headers=headers)
            api_results = json.loads(req.text)   
            rest_results = rest_results + api_results['businesses']
        except Exception as e:
            print(f'{e} occured at {city_name}, {rtype}, offset: {n}')

compiled_df = pd.DataFrame(rest_results)
compiled_df = compiled_df.drop_duplicates('id').reset_index(drop=True)
compiled_df['longitude'] = compiled_df['coordinates'].str['longitude']
compiled_df['latitude'] = compiled_df['coordinates'].str['latitude']
compiled_df['zip_code'] = compiled_df['location'].str['zip_code']
compiled_df.to_csv(f'{city_name}_yelp_data.csv', index=False)

afghani 19 1
african 49 1
senegalese 8 1
southafrican 1 1
newamerican 1100 22
'businesses' occured at New York City, newamerican, offset: 20
'businesses' occured at New York City, newamerican, offset: 21
tradamerican 1100 22
'businesses' occured at New York City, tradamerican, offset: 20
'businesses' occured at New York City, tradamerican, offset: 21
arabian 5 1
argentine 22 1
armenian 5 1
asianfusion 333 7
australian 15 1
austrian 5 1
bangladeshi 35 1
bbq 235 5
'businesses' occured at New York City, bbq, offset: 2
'businesses' occured at New York City, bbq, offset: 3
'businesses' occured at New York City, bbq, offset: 4
basque 12 1
'businesses' occured at New York City, basque, offset: 0
belgian 15 1
'businesses' occured at New York City, belgian, offset: 0
bistros 1 1
'businesses' occured at New York City, bistros, offset: 0
brasseries 15 1
'businesses' occured at New York City, brasseries, offset: 0
brazilian 43 1
'businesses' occured at New York City, brazilian, offset: 0
breakfast_brunch 1600 32
'businesses' occured at New York City, breakfast_brunch, offset: 0
'businesses' occured at New York City, breakfast_brunch, offset: 1
'businesses' occured at New York City, breakfast_brunch, offset: 2
'businesses' occured at New York City, breakfast_brunch, offset: 3
'businesses' occured at New York City, breakfast_brunch, offset: 4
'businesses' occured at New York City, breakfast_brunch, offset: 5
'businesses' occured at New York City, breakfast_brunch, offset: 6
'businesses' occured at New York City, breakfast_brunch, offset: 7
'businesses' occured at New York City, breakfast_brunch, offset: 8
'businesses' occured at New York City, breakfast_brunch, offset: 9
'businesses' occured at New York City, breakfast_brunch, offset: 10
'businesses' occured at New York City, breakfast_brunch, offset: 11
'businesses' occured at New York City, breakfast_brunch, offset: 12
'businesses' occured at New York City, breakfast_brunch, offset: 13
'businesses' occured at New York City, breakfast_brunch, offset: 14
'businesses' occured at New York City, breakfast_brunch, offset: 15
'businesses' occured at New York City, breakfast_brunch, offset: 16
'businesses' occured at New York City, breakfast_brunch, offset: 17
'businesses' occured at New York City, breakfast_brunch, offset: 18
'businesses' occured at New York City, breakfast_brunch, offset: 19
'businesses' occured at New York City, breakfast_brunch, offset: 20
'businesses' occured at New York City, breakfast_brunch, offset: 21
'businesses' occured at New York City, breakfast_brunch, offset: 22
'businesses' occured at New York City, breakfast_brunch, offset: 23
'businesses' occured at New York City, breakfast_brunch, offset: 24
'businesses' occured at New York City, breakfast_brunch, offset: 25
'businesses' occured at New York City, breakfast_brunch, offset: 26
'businesses' occured at New York City, breakfast_brunch, offset: 27
'businesses' occured at New York City, breakfast_brunch, offset: 28
'businesses' occured at New York City, breakfast_brunch, offset: 29
'businesses' occured at New York City, breakfast_brunch, offset: 30
'businesses' occured at New York City, breakfast_brunch, offset: 31
pancakes 5 1
'businesses' occured at New York City, pancakes, offset: 0
british 19 1
'businesses' occured at New York City, british, offset: 0
buffets 67 2
'businesses' occured at New York City, buffets, offset: 0
'businesses' occured at New York City, buffets, offset: 1
burgers 949 19
'businesses' occured at New York City, burgers, offset: 0
'businesses' occured at New York City, burgers, offset: 1
'businesses' occured at New York City, burgers, offset: 2
'businesses' occured at New York City, burgers, offset: 3
'businesses' occured at New York City, burgers, offset: 4
'businesses' occured at New York City, burgers, offset: 5
'businesses' occured at New York City, burgers, offset: 6
'businesses' occured at New York City, burgers, offset: 7
'businesses' occured at New York City, burgers, offset: 8
'businesses' occured at New York City, burgers, offset: 9
'businesses' occured at New York City, burgers, offset: 10
'businesses' occured at New York City, burgers, offset: 11
'businesses' occured at New York City, burgers, offset: 12
'businesses' occured at New York City, burgers, offset: 13
'businesses' occured at New York City, burgers, offset: 14
'businesses' occured at New York City, burgers, offset: 15
'businesses' occured at New York City, burgers, offset: 16
'businesses' occured at New York City, burgers, offset: 17
'businesses' occured at New York City, burgers, offset: 18
burmese 5 1
'businesses' occured at New York City, burmese, offset: 0
cafes 861 18
'businesses' occured at New York City, cafes, offset: 0
'businesses' occured at New York City, cafes, offset: 1
'businesses' occured at New York City, cafes, offset: 2
'businesses' occured at New York City, cafes, offset: 3
'businesses' occured at New York City, cafes, offset: 4
'businesses' occured at New York City, cafes, offset: 5
'businesses' occured at New York City, cafes, offset: 6
'businesses' occured at New York City, cafes, offset: 7
'businesses' occured at New York City, cafes, offset: 8
'businesses' occured at New York City, cafes, offset: 9
'businesses' occured at New York City, cafes, offset: 10
'businesses' occured at New York City, cafes, offset: 11
'businesses' occured at New York City, cafes, offset: 12
'businesses' occured at New York City, cafes, offset: 13
'businesses' occured at New York City, cafes, offset: 14
'businesses' occured at New York City, cafes, offset: 15
'businesses' occured at New York City, cafes, offset: 16
'businesses' occured at New York City, cafes, offset: 17
themedcafes 5 1
'businesses' occured at New York City, themedcafes, offset: 0
cafeteria 24 1
'businesses' occured at New York City, cafeteria, offset: 0
cajun 71 2
'businesses' occured at New York City, cajun, offset: 0
'businesses' occured at New York City, cajun, offset: 1
cambodian 5 1
'businesses' occured at New York City, cambodian, offset: 0
caribbean 571 12
'businesses' occured at New York City, caribbean, offset: 0
'businesses' occured at New York City, caribbean, offset: 1
'businesses' occured at New York City, caribbean, offset: 2
'businesses' occured at New York City, caribbean, offset: 3
'businesses' occured at New York City, caribbean, offset: 4
'businesses' occured at New York City, caribbean, offset: 5
'businesses' occured at New York City, caribbean, offset: 6
'businesses' occured at New York City, caribbean, offset: 7
'businesses' occured at New York City, caribbean, offset: 8
'businesses' occured at New York City, caribbean, offset: 9
'businesses' occured at New York City, caribbean, offset: 10
'businesses' occured at New York City, caribbean, offset: 11
dominican 133 3
'businesses' occured at New York City, dominican, offset: 0
'businesses' occured at New York City, dominican, offset: 1
'businesses' occured at New York City, dominican, offset: 2
haitian 40 1
'businesses' occured at New York City, haitian, offset: 0
puertorican 34 1
'businesses' occured at New York City, puertorican, offset: 0
trinidadian 14 1
'businesses' occured at New York City, trinidadian, offset: 0
catalan 2 1
'businesses' occured at New York City, catalan, offset: 0
cheesesteaks 34 1
'businesses' occured at New York City, cheesesteaks, offset: 0
chickenshop 167 4
'businesses' occured at New York City, chickenshop, offset: 0
'businesses' occured at New York City, chickenshop, offset: 1
'businesses' occured at New York City, chickenshop, offset: 2
'businesses' occured at New York City, chickenshop, offset: 3
chicken_wings 489 10
'businesses' occured at New York City, chicken_wings, offset: 0
'businesses' occured at New York City, chicken_wings, offset: 1
'businesses' occured at New York City, chicken_wings, offset: 2
'businesses' occured at New York City, chicken_wings, offset: 3
'businesses' occured at New York City, chicken_wings, offset: 4
'businesses' occured at New York City, chicken_wings, offset: 5
'businesses' occured at New York City, chicken_wings, offset: 6
'businesses' occured at New York City, chicken_wings, offset: 7
'businesses' occured at New York City, chicken_wings, offset: 8
'businesses' occured at New York City, chicken_wings, offset: 9
chinese 1600 32
'businesses' occured at New York City, chinese, offset: 0
'businesses' occured at New York City, chinese, offset: 1
'businesses' occured at New York City, chinese, offset: 2
'businesses' occured at New York City, chinese, offset: 3
'businesses' occured at New York City, chinese, offset: 4
'businesses' occured at New York City, chinese, offset: 5
'businesses' occured at New York City, chinese, offset: 6
'businesses' occured at New York City, chinese, offset: 7
'businesses' occured at New York City, chinese, offset: 8
'businesses' occured at New York City, chinese, offset: 9
'businesses' occured at New York City, chinese, offset: 10
'businesses' occured at New York City, chinese, offset: 11
'businesses' occured at New York City, chinese, offset: 12
'businesses' occured at New York City, chinese, offset: 13
'businesses' occured at New York City, chinese, offset: 14
'businesses' occured at New York City, chinese, offset: 15
'businesses' occured at New York City, chinese, offset: 16
'businesses' occured at New York City, chinese, offset: 17
'businesses' occured at New York City, chinese, offset: 18
'businesses' occured at New York City, chinese, offset: 19
'businesses' occured at New York City, chinese, offset: 20
'businesses' occured at New York City, chinese, offset: 21
'businesses' occured at New York City, chinese, offset: 22
'businesses' occured at New York City, chinese, offset: 23
'businesses' occured at New York City, chinese, offset: 24
'businesses' occured at New York City, chinese, offset: 25
'businesses' occured at New York City, chinese, offset: 26
'businesses' occured at New York City, chinese, offset: 27
'businesses' occured at New York City, chinese, offset: 28
'businesses' occured at New York City, chinese, offset: 29
'businesses' occured at New York City, chinese, offset: 30
'businesses' occured at New York City, chinese, offset: 31
cantonese 87 2
'businesses' occured at New York City, cantonese, offset: 0
'businesses' occured at New York City, cantonese, offset: 1
dimsum 105 3
'businesses' occured at New York City, dimsum, offset: 0
'businesses' occured at New York City, dimsum, offset: 1
'businesses' occured at New York City, dimsum, offset: 2
hainan 3 1
'businesses' occured at New York City, hainan, offset: 0
shanghainese 40 1
'businesses' occured at New York City, shanghainese, offset: 0
szechuan 83 2
'businesses' occured at New York City, szechuan, offset: 0
'businesses' occured at New York City, szechuan, offset: 1
comfortfood 121 3
'businesses' occured at New York City, comfortfood, offset: 0
'businesses' occured at New York City, comfortfood, offset: 1
'businesses' occured at New York City, comfortfood, offset: 2
creperies 70 2
'businesses' occured at New York City, creperies, offset: 0
'businesses' occured at New York City, creperies, offset: 1
cuban 105 3
'businesses' occured at New York City, cuban, offset: 0
'businesses' occured at New York City, cuban, offset: 1
'businesses' occured at New York City, cuban, offset: 2
czech 2 1
'businesses' occured at New York City, czech, offset: 0
delis 1400 28
'businesses' occured at New York City, delis, offset: 0
'businesses' occured at New York City, delis, offset: 1
'businesses' occured at New York City, delis, offset: 2
'businesses' occured at New York City, delis, offset: 3
'businesses' occured at New York City, delis, offset: 4
'businesses' occured at New York City, delis, offset: 5
'businesses' occured at New York City, delis, offset: 6
'businesses' occured at New York City, delis, offset: 7
'businesses' occured at New York City, delis, offset: 8
'businesses' occured at New York City, delis, offset: 9
'businesses' occured at New York City, delis, offset: 10
'businesses' occured at New York City, delis, offset: 11
'businesses' occured at New York City, delis, offset: 12
'businesses' occured at New York City, delis, offset: 13
'businesses' occured at New York City, delis, offset: 14
'businesses' occured at New York City, delis, offset: 15
'businesses' occured at New York City, delis, offset: 16
'businesses' occured at New York City, delis, offset: 17
'businesses' occured at New York City, delis, offset: 18
'businesses' occured at New York City, delis, offset: 19
'businesses' occured at New York City, delis, offset: 20
'businesses' occured at New York City, delis, offset: 21
'businesses' occured at New York City, delis, offset: 22
'businesses' occured at New York City, delis, offset: 23
'businesses' occured at New York City, delis, offset: 24
'businesses' occured at New York City, delis, offset: 25
'businesses' occured at New York City, delis, offset: 26
'businesses' occured at New York City, delis, offset: 27
diners 257 6
'businesses' occured at New York City, diners, offset: 0
'businesses' occured at New York City, diners, offset: 1
'businesses' occured at New York City, diners, offset: 2
'businesses' occured at New York City, diners, offset: 3
'businesses' occured at New York City, diners, offset: 4
'businesses' occured at New York City, diners, offset: 5
dinnertheater 15 1
'businesses' occured at New York City, dinnertheater, offset: 0
eritrean 2 1
'businesses' occured at New York City, eritrean, offset: 0
ethiopian 13 1
'businesses' occured at New York City, ethiopian, offset: 0
hotdogs 766 16
'businesses' occured at New York City, hotdogs, offset: 0
'businesses' occured at New York City, hotdogs, offset: 1
'businesses' occured at New York City, hotdogs, offset: 2
'businesses' occured at New York City, hotdogs, offset: 3
'businesses' occured at New York City, hotdogs, offset: 4
'businesses' occured at New York City, hotdogs, offset: 5
'businesses' occured at New York City, hotdogs, offset: 6
'businesses' occured at New York City, hotdogs, offset: 7
'businesses' occured at New York City, hotdogs, offset: 8
'businesses' occured at New York City, hotdogs, offset: 9
'businesses' occured at New York City, hotdogs, offset: 10
'businesses' occured at New York City, hotdogs, offset: 11
'businesses' occured at New York City, hotdogs, offset: 12
'businesses' occured at New York City, hotdogs, offset: 13
'businesses' occured at New York City, hotdogs, offset: 14
'businesses' occured at New York City, hotdogs, offset: 15
filipino 65 2
'businesses' occured at New York City, filipino, offset: 0
'businesses' occured at New York City, filipino, offset: 1
fishnchips 33 1
'businesses' occured at New York City, fishnchips, offset: 0
fondue 5 1
'businesses' occured at New York City, fondue, offset: 0
food_court 50 1
'businesses' occured at New York City, food_court, offset: 0
foodstands 338 7
'businesses' occured at New York City, foodstands, offset: 0
'businesses' occured at New York City, foodstands, offset: 1
'businesses' occured at New York City, foodstands, offset: 2
'businesses' occured at New York City, foodstands, offset: 3
'businesses' occured at New York City, foodstands, offset: 4
'businesses' occured at New York City, foodstands, offset: 5
'businesses' occured at New York City, foodstands, offset: 6
french 279 6
'businesses' occured at New York City, french, offset: 0
'businesses' occured at New York City, french, offset: 1
'businesses' occured at New York City, french, offset: 2
'businesses' occured at New York City, french, offset: 3
'businesses' occured at New York City, french, offset: 4
'businesses' occured at New York City, french, offset: 5
gastropubs 120 3
'businesses' occured at New York City, gastropubs, offset: 0
'businesses' occured at New York City, gastropubs, offset: 1
'businesses' occured at New York City, gastropubs, offset: 2
georgian 12 1
'businesses' occured at New York City, georgian, offset: 0
german 34 1
'businesses' occured at New York City, german, offset: 0
gluten_free 120 3
'businesses' occured at New York City, gluten_free, offset: 0
'businesses' occured at New York City, gluten_free, offset: 1
'businesses' occured at New York City, gluten_free, offset: 2
greek 183 4
'businesses' occured at New York City, greek, offset: 0
'businesses' occured at New York City, greek, offset: 1
'businesses' occured at New York City, greek, offset: 2
'businesses' occured at New York City, greek, offset: 3
halal 368 8
'businesses' occured at New York City, halal, offset: 0
'businesses' occured at New York City, halal, offset: 1
'businesses' occured at New York City, halal, offset: 2
'businesses' occured at New York City, halal, offset: 3
'businesses' occured at New York City, halal, offset: 4
'businesses' occured at New York City, halal, offset: 5
'businesses' occured at New York City, halal, offset: 6
'businesses' occured at New York City, halal, offset: 7
hawaiian 46 1
'businesses' occured at New York City, hawaiian, offset: 0
himalayan 56 2
'businesses' occured at New York City, himalayan, offset: 0
'businesses' occured at New York City, himalayan, offset: 1
honduran 8 1
'businesses' occured at New York City, honduran, offset: 0
hkcafe 16 1
'businesses' occured at New York City, hkcafe, offset: 0
hotdog 122 3
'businesses' occured at New York City, hotdog, offset: 0
'businesses' occured at New York City, hotdog, offset: 1
'businesses' occured at New York City, hotdog, offset: 2
hotpot 45 1
'businesses' occured at New York City, hotpot, offset: 0
hungarian 8 1
'businesses' occured at New York City, hungarian, offset: 0
iberian 6 1
'businesses' occured at New York City, iberian, offset: 0
indpak 426 9
'businesses' occured at New York City, indpak, offset: 0
'businesses' occured at New York City, indpak, offset: 1
'businesses' occured at New York City, indpak, offset: 2
'businesses' occured at New York City, indpak, offset: 3
'businesses' occured at New York City, indpak, offset: 4
'businesses' occured at New York City, indpak, offset: 5
'businesses' occured at New York City, indpak, offset: 6
'businesses' occured at New York City, indpak, offset: 7
'businesses' occured at New York City, indpak, offset: 8
indonesian 6 1
'businesses' occured at New York City, indonesian, offset: 0
irish 78 2
'businesses' occured at New York City, irish, offset: 0
'businesses' occured at New York City, irish, offset: 1
italian 1500 30
'businesses' occured at New York City, italian, offset: 0
'businesses' occured at New York City, italian, offset: 1
'businesses' occured at New York City, italian, offset: 2
'businesses' occured at New York City, italian, offset: 3
'businesses' occured at New York City, italian, offset: 4
'businesses' occured at New York City, italian, offset: 5
'businesses' occured at New York City, italian, offset: 6
'businesses' occured at New York City, italian, offset: 7
'businesses' occured at New York City, italian, offset: 8
'businesses' occured at New York City, italian, offset: 9
'businesses' occured at New York City, italian, offset: 10
'businesses' occured at New York City, italian, offset: 11
'businesses' occured at New York City, italian, offset: 12
'businesses' occured at New York City, italian, offset: 13
'businesses' occured at New York City, italian, offset: 14
'businesses' occured at New York City, italian, offset: 15
'businesses' occured at New York City, italian, offset: 16
'businesses' occured at New York City, italian, offset: 17
'businesses' occured at New York City, italian, offset: 18
'businesses' occured at New York City, italian, offset: 19
'businesses' occured at New York City, italian, offset: 20
'businesses' occured at New York City, italian, offset: 21
'businesses' occured at New York City, italian, offset: 22
'businesses' occured at New York City, italian, offset: 23
'businesses' occured at New York City, italian, offset: 24
'businesses' occured at New York City, italian, offset: 25
'businesses' occured at New York City, italian, offset: 26

In [213]:
compiled_df['id'].unique().shape

(2554,)

In [214]:
# api_results

# Formatting results

In [215]:
#compiled_df = pd.read_csv(r'seattle_yelp_data.csv')
compiled_df = pd.DataFrame(rest_results)
compiled_df = compiled_df.drop_duplicates('id').reset_index(drop=True)

## Parsing coordinates

## if using query results

In [216]:
compiled_df['longitude'] = compiled_df['coordinates'].str['longitude']
compiled_df['latitude'] = compiled_df['coordinates'].str['latitude']
compiled_df['zip_code'] = compiled_df['location'].str['zip_code']

## if loading from csv

### parsing coordinates

In [217]:
# coords = compiled_df['coordinates'].str.split(',', expand=True)
# compiled_df.insert(0, 'longitude', coords[1])
# compiled_df.insert(0, 'latitude', coords[0])
# compiled_df['longitude'] = compiled_df['longitude'].str.split(' ').str[-1].str[:-1]
# compiled_df['latitude'] = compiled_df['latitude'].str.split(' ').str[-1]

### Parsing zip code

In [218]:
# r = re.compile("code': '(\d*)")
# compiled_df['zip_code'] = compiled_df['location'].str.findall(r).str[0]

## Output

In [219]:
compiled_df.shape

(2554, 19)

In [220]:
compiled_df.to_csv(f'{city_name}_yelp_data.csv', index=False)

_____________

# Code for wrangling the restaurant types from yelp page, not needed anymore

In [131]:
# id_list = []
# name_list = []
# for i in sea_bus:
#     id_list.append(i['id'])
#     name_list.append(i['name'])

In [153]:
# rest_types = re.findall("\([a-z].*?,", rest_str)

In [164]:
# len(cleaned_types)

312

In [25]:
# """
# Afghan (afghani)
# African (african)
# Senegalese (senegalese)
# South African (southafrican)
# American (New) (newamerican)
# American (Traditional) (tradamerican)
# Arabian (arabian)
# Argentine (argentine)
# Armenian (armenian)
# Asian Fusion (asianfusion)
# Australian (australian)
# Austrian (austrian)
# Bangladeshi (bangladeshi)
# Barbeque (bbq)
# Basque (basque)
# Belgian (belgian)
# Brasseries (brasseries)
# Brazilian (brazilian)
# Breakfast & Brunch (breakfast_brunch)
# Pancakes (pancakes)
# British (british)
# Buffets (buffets)
# Bulgarian (bulgarian)
# Burgers (burgers)
# Burmese (burmese)
# Cafes (cafes)
# Themed Cafes (themedcafes)
# Cafeteria (cafeteria)
# Cajun/Creole (cajun)
# Cambodian (cambodian)
# Caribbean (caribbean)
# Dominican (dominican)
# Haitian (haitian)
# Puerto Rican (puertorican)
# Trinidadian (trinidadian)
# Catalan (catalan)
# Cheesesteaks (cheesesteaks)
# Chicken Shop (chickenshop)
# Chicken Wings (chicken_wings)
# Chinese (chinese)
# Cantonese (cantonese)
# Dim Sum (dimsum)
# Hainan (hainan)
# Shanghainese (shanghainese)
# Szechuan (szechuan)
# Comfort Food (comfortfood)
# Creperies (creperies)
# Cuban (cuban)
# Czech (czech)
# Delis (delis)
# Diners (diners)
# Dinner Theater (dinnertheater)
# Eritrean (eritrean)
# Ethiopian (ethiopian)
# Fast Food (hotdogs)
# Filipino (filipino)
# Fish & Chips (fishnchips)
# Fondue (fondue)
# Food Court (food_court)
# Food Stands (foodstands)
# French (french)
# Mauritius (mauritius)
# Reunion (reunion)
# Game Meat (gamemeat)
# Gastropubs (gastropubs)
# Georgian (georgian)
# German (german)
# Gluten-Free (gluten_free)
# Greek (greek)
# Guamanian (guamanian)
# Halal (halal)
# Hawaiian (hawaiian)
# Himalayan/Nepalese (himalayan)
# Honduran (honduran)
# Hong Kong Style Cafe (hkcafe)
# Hot Dogs (hotdog)
# Hot Pot (hotpot)
# Hungarian (hungarian)
# Iberian (iberian)
# Indian (indpak)
# Indonesian (indonesian)
# Irish (irish)
# Italian (italian)
# Calabrian (calabrian)
# Sardinian (sardinian)
# Sicilian (sicilian)
# Tuscan (tuscan)
# Japanese (japanese)
# Conveyor Belt Sushi (conveyorsushi)
# Izakaya (izakaya)
# Japanese Curry (japacurry)
# Ramen (ramen)
# Teppanyaki (teppanyaki)
# Kebab (kebab)
# Korean (korean)
# Kosher (kosher)
# Laotian (laotian)
# Latin American (latin)
# Colombian (colombian)
# Salvadoran (salvadoran)
# Venezuelan (venezuelan)
# Live/Raw Food (raw_food)
# Malaysian (malaysian)
# Mediterranean (mediterranean)
# Falafel (falafel)
# Mexican (mexican)
# Tacos (tacos)
# Middle Eastern (mideastern)
# Egyptian (egyptian)
# Lebanese (lebanese)
# Modern European (modern_european)
# Mongolian (mongolian)
# Moroccan (moroccan)
# New Mexican Cuisine (newmexican)
# Nicaraguan (nicaraguan)
# Noodles (noodles)
# Pakistani (pakistani)
# Pan Asian (panasian)
# Persian/Iranian (persian)
# Peruvian (peruvian)
# Pizza (pizza)
# Polish (polish)
# Polynesian (polynesian)
# Pop-Up Restaurants (popuprestaurants)
# Portuguese (portuguese)
# Poutineries (poutineries)
# Russian (russian)
# Salad (salad)
# Sandwiches (sandwiches)
# Scandinavian (scandinavian)
# Scottish (scottish)
# Seafood (seafood)
# Singaporean (singaporean)
# Slovakian (slovakian)
# Somali (somali)
# Soul Food (soulfood)
# Soup (soup)
# Southern (southern)
# Spanish (spanish)
# Sri Lankan (srilankan)
# Steakhouses (steak)
# Supper Clubs (supperclubs)
# Sushi Bars (sushi)
# Syrian (syrian)
# Taiwanese (taiwanese)
# Tapas Bars (tapas)
# Tapas/Small Plates (tapasmallplates)
# Tex-Mex (tex-mex)
# Thai (thai)
# Turkish (turkish)
# Ukrainian (ukrainian)
# Uzbek (uzbek)
# Vegan (vegan)
# Vegetarian (vegetarian)
# Vietnamese (vietnamese)
# Waffles (waffles)
# Wraps (wraps)
# """

'\nAfghan (afghani)\nAfrican (african)\nSenegalese (senegalese)\nSouth African (southafrican)\nAmerican (New) (newamerican)\nAmerican (Traditional) (tradamerican)\nArabian (arabian)\nArgentine (argentine)\nArmenian (armenian)\nAsian Fusion (asianfusion)\nAustralian (australian)\nAustrian (austrian)\nBangladeshi (bangladeshi)\nBarbeque (bbq)\nBasque (basque)\nBelgian (belgian)\nBrasseries (brasseries)\nBrazilian (brazilian)\nBreakfast & Brunch (breakfast_brunch)\nPancakes (pancakes)\nBritish (british)\nBuffets (buffets)\nBulgarian (bulgarian)\nBurgers (burgers)\nBurmese (burmese)\nCafes (cafes)\nThemed Cafes (themedcafes)\nCafeteria (cafeteria)\nCajun/Creole (cajun)\nCambodian (cambodian)\nCaribbean (caribbean)\nDominican (dominican)\nHaitian (haitian)\nPuerto Rican (puertorican)\nTrinidadian (trinidadian)\nCatalan (catalan)\nCheesesteaks (cheesesteaks)\nChicken Shop (chickenshop)\nChicken Wings (chicken_wings)\nChinese (chinese)\nCantonese (cantonese)\nDim Sum (dimsum)\nHainan (hainan)\nShanghainese (shanghainese)\nSzechuan (szechuan)\nComfort Food (comfortfood)\nCreperies (creperies)\nCuban (cuban)\nCzech (czech)\nDelis (delis)\nDiners (diners)\nDinner Theater (dinnertheater)\nEritrean (eritrean)\nEthiopian (ethiopian)\nFast Food (hotdogs)\nFilipino (filipino)\nFish & Chips (fishnchips)\nFondue (fondue)\nFood Court (food_court)\nFood Stands (foodstands)\nFrench (french)\nMauritius (mauritius)\nReunion (reunion)\nGame Meat (gamemeat)\nGastropubs (gastropubs)\nGeorgian (georgian)\nGerman (german)\nGluten-Free (gluten_free)\nGreek (greek)\nGuamanian (guamanian)\nHalal (halal)\nHawaiian (hawaiian)\nHimalayan/Nepalese (himalayan)\nHonduran (honduran)\nHong Kong Style Cafe (hkcafe)\nHot Dogs (hotdog)\nHot Pot (hotpot)\nHungarian (hungarian)\nIberian (iberian)\nIndian (indpak)\nIndonesian (indonesian)\nIrish (irish)\nItalian (italian)\nCalabrian (calabrian)\nSardinian (sardinian)\nSicilian (sicilian)\nTuscan (tuscan)\nJapanese (japanese)\nConveyor Belt Sushi (conveyorsushi)\nIzakaya (izakaya)\nJapanese Curry (japacurry)\nRamen (ramen)\nTeppanyaki (teppanyaki)\nKebab (kebab)\nKorean (korean)\nKosher (kosher)\nLaotian (laotian)\nLatin American (latin)\nColombian (colombian)\nSalvadoran (salvadoran)\nVenezuelan (venezuelan)\nLive/Raw Food (raw_food)\nMalaysian (malaysian)\nMediterranean (mediterranean)\nFalafel (falafel)\nMexican (mexican)\nTacos (tacos)\nMiddle Eastern (mideastern)\nEgyptian (egyptian)\nLebanese (lebanese)\nModern European (modern_european)\nMongolian (mongolian)\nMoroccan (moroccan)\nNew Mexican Cuisine (newmexican)\nNicaraguan (nicaraguan)\nNoodles (noodles)\nPakistani (pakistani)\nPan Asian (panasian)\nPersian/Iranian (persian)\nPeruvian (peruvian)\nPizza (pizza)\nPolish (polish)\nPolynesian (polynesian)\nPop-Up Restaurants (popuprestaurants)\nPortuguese (portuguese)\nPoutineries (poutineries)\nRussian (russian)\nSalad (salad)\nSandwiches (sandwiches)\nScandinavian (scandinavian)\nScottish (scottish)\nSeafood (seafood)\nSingaporean (singaporean)\nSlovakian (slovakian)\nSomali (somali)\nSoul Food (soulfood)\nSoup (soup)\nSouthern (southern)\nSpanish (spanish)\nSri Lankan (srilankan)\nSteakhouses (steak)\nSupper Clubs (supperclubs)\nSushi Bars (sushi)\nSyrian (syrian)\nTaiwanese (taiwanese)\nTapas Bars (tapas)\nTapas/Small Plates (tapasmallplates)\nTex-Mex (tex-mex)\nThai (thai)\nTurkish (turkish)\nUkrainian (ukrainian)\nUzbek (uzbek)\nVegan (vegan)\nVegetarian (vegetarian)\nVietnamese (vietnamese)\nWaffles (waffles)\nWraps (wraps)\n'